@import "../../../../_colors.scss";
@import "../../../../_dim.scss";

:host {
  flex-direction: row;
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 500px) {
    .question-list {
      margin-bottom: 20px;
      padding: 0;
    }
  }

  @media (min-width: 500px) {
    .question-list {
      margin-bottom: 20px;
      padding: 0 5%;
    }
  }
  .question-list {
    display: flex;
    align-content: flex-start;
    perspective: 800px;
    width: 0;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: $color3;
    .no-questions {
      font-size: 1.2em;
      text-align: center;
    }
    app-question {
      transform-style: preserve-3d;
      border: 1px solid #999;
      perspective: 800px;
      width: 256px;
      box-sizing: border-box;
      height: 256px;
      font-size: 1em;
      overflow: auto;
      display: flex;
      margin: 10px 10px 50px 10px;
      flex-direction: column;
      -webkit-transition: box-shadow 0.1s;
      -moz-transition: box-shadow 0.1s;
      -ms-transition: box-shadow 0.1s;
      -o-transition: box-shadow 0.1s;
      transition: box-shadow 0.1s;
      background: $color2;
      &:hover {
        box-shadow: 0 0 8px 4px #2785e4;
      }
    }
  }
  .progress {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

