:host {
  display: flex;

  .tag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.1em;
    padding: 10px 10px 10px 10px;
    background: #abffda;
    color: #000;
    .text {
      text-transform: capitalize;
      display: flex;
      flex-grow: 1;
    }
    &:hover {
      opacity: 0.8;
    }
    .tag-right-icon {
      margin-left: 10px;
      font-size: 1em;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
