
:host {
  flex-grow: 1;
  height: 100%;
  display: flex;
  .dashboard {
    display: grid;

    flex-grow: 1;
    margin-bottom: 10px;
    .item {
      background: #ffffff;
      border: black solid 1px;
    }
  }
}
